html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	color: #2F3035;
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.header_top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 122px;
	font-family: 'SFProDisplay-Bold', sans-serif;
}

.header_bottom {
	margin-bottom: 78px;
}

.menu_item {
	display: inline-block;
}

.menu_item + .menu_item {
	padding-left: 50px;
}

.header-box {
	display: flex;
}

.header_adress {
	margin-right: 60px;
	width: 265px;
	padding-left: 30px;
	position: relative;
}

/*Почему before?*/

.header_adress::before {
	content: "";
	position: absolute;
	background-image: url("images/location.svg");
	width: 30px;
	height: 30px;
	left: 0;
	top: -10px;
}

.user-list {
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.user-list_item {
	padding-right: 10px;
}

.cart {
	position: relative  ;
}

.cart_num {
	position: absolute;
	font-family: 'SFProDisplay-Medium', sans-serif;
	font-weight: 500;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	background-color: #1C62CD;
	border-radius: 50%;
	text-align: center;
	bottom: -15px;
	right: -13px;
}

.menu-categories  {
	display: flex;
	justify-content: space-around;
	background-color: #F0F0F4;
	align-items: center;
	min-height: 53px;
}

.menu-categories_item {
	position: relative;
}

.menu-categories_link {
	transition: all .3s;
	font-weight: 400;
	padding: 15px 0 14px ;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* В чем разница между :hover и ::hover? когда что использовать? */

/* Селектор :hover применяется для выбора элемента, когда на него наведена мышь.
Например, вы можете использовать селектор :hover
для изменения цвета фона кнопки при наведении на нее мыши.

Псевдоэлемент ::hover используется для стилизации определенного состояния элемента,
связанного с наведением на этот элемент мыши.
Этот псевдоэлемент обычно используется для создания эффектов, которые происходят при наведении мыши на элемент,
например, для добавления подчеркивания при наведении на ссылку.
*/

.menu-categories_link::before {
	content: "";
	position: absolute;
	width: 0;
	left: auto;
	right: 0;
	background-color: #1C62CD;
	height: 3px;
	bottom: -2px;
	transition: all .3s;
}

.menu-categories_link:hover {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	color: #1C62CD;
	/*border-bottom: 3px solid #1C62CD;*/
}

.menu-categories_link:hover::before  {
	width: 100%;
	right: auto;
	left: 0;
}

.banner-section_inner {
	 display: flex;
	 justify-content: space-between;
}

.banner-section_slider {
	max-width: 870px;
}